<div class="container">
  <p class="container-title">{{repo.name}}</p>
    <hr class="linie"></hr>
    <h3>Description:</h3>
    <p class="description">{{repo.description}}</p>
    <h3>Latest Release ({{latestRelease.name}}):</h3>
    <ul class="downloads">
        <li><i class="octicon octicon-tag"></i>{{latestRelease.tag_name}}</li>
        <li ng-repeat="asset in latestRelease.assets"><i class="octicon octicon-package"></i><a ng-href="{{asset.browser_download_url}}" >{{asset.name}}</a></li>
        <li><i class="octicon octicon-file-zip"></i><a ng-href="{{latestRelease.tarball_url}}" >Sourcecode (tar.gz)</a></li>
        <li><i class="octicon octicon-file-zip"></i><a ng-href="{{latestRelease.zipball_url}}" >Sourcecode (zip)</a></li>
    </ul>
    
</div>



